body {
	padding-bottom: 40px;
	background-color: #eee;
	background-size: contain;
}
.info {
	display: inline-block;
	vertical-align: middle;
	max-width: 600px;
    padding: 15px;  
    margin-top: 40px;
    margin-left: 60px
}
