body {
  padding-bottom: 40px;
  background-color: #eee;
  background-image: url(programming.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-size:100% 100vh;
  width:100%;
  height:100%;
}
.form-signin {
  max-width: 330px;
  padding: 15px;  
  margin-left: auto;
  margin-top: 60px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
