{% extends 'base.html' %}
{% load static %}

{% block head %}
	{{ block.super }}
{% endblock head %}
   
{% block content %}
	<div class="row m-4">
		<div class="col-12 card">
			<div class="card-body">
				<h5 class="card-title">Регистрация выступления</h5>
        <form method="POST" action="{% url 'become_participant' %}" 
          {% if request.method == 'POST' %}
          class="was-validated"
          {% endif %}>
					{% csrf_token %}
					{% for field in user_form %}
					<div class="form-group">
						{{ field }}
					</div>
					{% endfor %}
          {{ project_formset.management_form }}
          <table class="table mb-0">
            <tbody id="form_set">
          {% for project_form in project_formset %}
          <tr><td>
					<div class="form-group">
            <label for="{{ project_form.title.id_for_label }}">Название проекта</label>
            {{ project_form.title }}
            {% for error in project_form.title.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
            {% endfor %}
					</div>
					<div class="form-check">
            {{ project_form.enlist }}
            <label for="{{ project_form.enlist.id_for_label }}" class="form-check-label mb-3">Зарегистрировать</label>
					</div>
          </td></tr>
          {% endfor %}
            </tbody>
          </table>
          {% for error in project_formset.non_form_errors %}
            <div class="text-danger">
              {{ error }}
            </div>
          {% endfor %}
          <div id="empty_form" class="d-none">
          <tr><td>
					<div class="form-group">
            <label for="{{ project_formset.empty_form.title.id_for_label }}">Название проекта</label>
            {{ project_formset.empty_form.title }}
					</div>
					<div class="form-check">
            {{ project_formset.empty_form.enlist }}
            <label for="{{ project_formset.empty_form.enlist.id_for_label }}" class="form-check-label mb-3">Зарегистрировать</label>
					</div>
          </td></tr>
          </div>
					<button id="add_more" type="button" class="btn btn-primary mt-2 mb-3">Добавить проект</button>
					<button type="submit" class="btn btn-primary mt-2 mb-3">Готово</button>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}

{% block script %}
<script>
$('table .form-control').each(function(_,element){
	console.log(element)
		console.log($('input[name="'+element.name.replace(/title/g, 'enlist')+'"]').prop('checked'))
	$(element).prop('readonly', !$('input[name="'+element.name.replace(/title/g, 'enlist')+'"]').prop('checked'));
});
    $('.form-check > input[type="checkbox"]').each(function(_,element) {
      $(element).on('change', function() {
        $('input[name="'+element.name.replace(/enlist/g, 'title')+'"]').prop('readonly',
            function(i,v) { return !v;});
      });
    });
    $('#add_more').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        var new_form = $('<tr><td>'+$('#empty_form').html().replace(/__prefix__/g,
              form_idx)+'</td></tr>')
          .hide()
          .appendTo('#form_set')
          .fadeIn()
          .find('.form-check > input[type="checkbox"]')
          .on('change', function() {
            $('input[name="'+this.name.replace(/enlist/g, 'title')+'"]').prop('readonly',
                function(i,v) { return !v;});
          });
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
</script>
{% endblock script %}
