{% extends 'base.html' %}
{% load static %}

{% block head %}
	{{ block.super }}
{% endblock head %}
   
{% block content %}
	<div class="row m-4">
		<div class="col-12 card">
			<div class="card-body">
				<h5 class="card-title">Регистрация в жюри</h5>
				<form method="POST" action="{% url 'become_jury' %}">
					{% csrf_token %}
					{% for field in jury_form %}
					<div class="form-group">
						{{ field }}
            {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
            {% endfor %}
					</div>
					{% endfor %}
					<button type='submit' class='btn btn-primary'>Готово</button>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}
