{% extends 'base.html' %}
{% load static %}

{% block head %}
	{{ block.super }}
{% endblock head %}
   
{% block content %}
	<div class="row m-4">
		<div class="col-12 card">
			<div class="card-body">
				<h5 class="card-title">Оценка проектов</h5>
			</div>
		</div>
	</div>
{% endblock content %}
