{% extends 'base.html' %}
{% load static %}

{% block head %}
	{{ block.super }}
{% endblock head %}
   
{% block content %}
	<div class="row m-4">
		<div class="col-12 card">
			<div class="card-body">
				<h5 class="card-title">Регистрация</h5>
				<form method="POST" action="{% url 'landing' %}">
					{% csrf_token %}
					{% for field in user_form %}
					<div class="form-group">
						{{ field }}
					</div>
					{% endfor %}
					<button name='be_participant' type='submit' class='btn btn-primary mb-3'>Хочу выступать</button>
					<button name='be_jury' type='submit' class='btn btn-primary mb-3'>Хочу в жюри</button>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}
