<nav class="navbar navbar-dark bg-dark">
	<a class="navbar-brand" href="{% url 'landing' %}">Конференция</a>
	<span class="navbar-text">{% if request.user.is_authenticated %}{{ request.user.get_full_name }}{% endif %}</span>
</nav>    
