{% extends 'base.html' %}
{% load static %}

{% block head %}
	{{ block.super }}
{% endblock head %}
   
{% block content %}
	<div class="row m-4">
		<div class="col-12 card">
			<div class="card-body">
				<h5 class="card-title">Спасибо</h5>
        Позовите следующего.
			</div>
		</div>
	</div>
{% endblock content %}

{% block script %}
<script>
$(function(){
    window.setTimeout(function(){
      window.location.href = "{% url 'landing' %}";
    }, 5000);
})
</script>
{% endblock script %}

