<form method='post' action={% url 'account_logout' %}>
    {% csrf_token %}
    <input type='submit'/>
</form>
<ul>
    <li>{{ user.email }}</li>
    <li>{{ user.first_name }}</li>
    <li>{{ user.last_name }}</li>
</ul>
