body {
  padding-bottom: 40px;
  background-color: #eee;
  background-size: contain;
}
.form-signin {
  padding: 40px;
  max-width: 90%;  
  margin-left: auto;
  margin-right: auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.card{
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
